* {
  box-sizing: border-box;
}

body {
  //background: linear-gradient(rgb(16, 16, 24), rgb(37, 35, 47));
  background-color: rgb(26, 26, 26);
  color: white;
  height: 100vh;
  background-image: url("../../svg/logo.svg");
  background-size: 120%;
  background-position: 50% 50%;
}

.container-all {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.274);
}

.wrapper {
  width: 23%;
  padding: 2rem;
  background-color: rgba(15, 17, 22, 0.698);
  border-radius: 0.3rem;

  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.1rem;
  }
  input[type="text"],
  input[type="password"] {
    width: 65%;
  }
}

//Smallest Devices
@media (max-width: 576px) {
  .wrapper {
    width: 92%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .wrapper {
    width: 90%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .wrapper {
    width: 80%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .wrapper {
    width: 50%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .wrapper {
    width: 40%;
  }
}
