
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow: hidden;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    //border: 1px solid black;
}
label{
    margin-bottom: 0.5rem;
}
button{
    padding: 0.5rem;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    background-color: rgb(27, 27, 27);
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

input[type=file]{
    padding: 0.2rem;
    //background-color: rgb(27, 27, 27);
}
::-webkit-file-upload-button{
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem;
}

.album-cover{
    margin-top: 4rem;
    transform: scale(1);
    transition: all 1s ease;

    position: relative;
}
.grow{
    transform: scale(1.05);
    transition: all 1s ease;
}

//Layouts

//General layout class
.layout{

}

.hide-layout{
    display: none;
}

//Individual layouts

//Layout 2
.vinyl-layout-2{
    position: absolute;
    left: 52%;
    z-index: -1;
}

.vinyl-spin{
    animation: vinylspin 6s linear infinite;
}
@keyframes vinylspin{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#barDiv{
    width: 100%;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;

    height: 200px;
    border-bottom: 2px solid rgb(63, 63, 63);

    //background-color: black;
}

.band{
    background-color: rgb(24, 24, 24);
    //height: 300px;
    //width: 100px;
    margin: 0.5px;
    transition: all 0.1s ease;
    border-radius: 0.1rem;
}
.band2{
    background-color: rgb(31, 31, 31);
    margin: 0px;
    transition: all 0.1s ease;
    border-radius: 60%;
}

#toolBar{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.048);
    background-color: white;
}
.toolbar{
    transition: all 1s ease;
}
.toolbarShow{
    transition: all 1s ease;
    transform: translateY(-120%);
    //display: none !important;
}
#kickRange{
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}


.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-left: 0.3rem;
    //width: 30%;
}

.row-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    button, input{
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
}

.controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    color: black;
    box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.048);
    transition: all 1s ease;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hide-controls{
    transform: translateY(120%);
    transition: all 1s ease;
}

#layout-select{
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}


  #test{
      color: rgb(255, 252, 57);
  }