@font-face {
  font-family: redwing;
  src: url(fonts/Redwing-Medium.otf);
}

@font-face {
  font-family: redwing-light;
  src: url(fonts/Redwing-Light.otf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#formWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#preset-div {
  border: 1px solid rgba(87, 87, 87, 0.171);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#preset-div * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#presetNameDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#presetNameDiv .logInBtn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#presetNameDiv input {
  background: #342c36;
  color: white;
  font-size: 1.1rem;
  padding: 0.2rem;
  border: none;
  border-radius: 0.2rem;
}

.logInBtn {
  background-color: #342c36;
  padding: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  border-radius: 0.25rem;
  color: white;
  text-decoration: none;
  margin-top: 0.5rem;
}

/*#logOutBtn {
  background-color: $btnColor;
  padding: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  border-radius: 0.25rem;
  color: white;
  text-decoration: none;
  margin-top: 0.5rem;
}*/
.textfield {
  background: #342c36;
  color: white;
  font-size: 1.025rem;
  padding: 0.2rem;
  border: none;
  border-radius: 0.1rem;
}

#saveDiv {
  bottom: 1rem;
  right: 1rem;
}

#saveMessage {
  padding: 1.25rem;
  background-color: #342c36;
  border-radius: 0.25rem;
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5000;
  -webkit-animation: saveMsgFade 3s ease forwards;
          animation: saveMsgFade 3s ease forwards;
}

#updateMessage {
  padding: 1.25rem;
  background-color: #342c36;
  border-radius: 0.25rem;
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5000;
  -webkit-animation: saveMsgFade 3s ease forwards;
          animation: saveMsgFade 3s ease forwards;
}

#deleteMessage {
  padding: 1.25rem;
  background-color: #342c36;
  border-radius: 0.25rem;
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5000;
  -webkit-animation: saveMsgFade 3s linear forwards;
          animation: saveMsgFade 3s linear forwards;
}

@-webkit-keyframes saveMsgFade {
  0% {
    -webkit-transform: translateY(-200%) scale(1);
            transform: translateY(-200%) scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0%) scale(1.05);
            transform: translateY(0%) scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0%) scale(0);
            transform: translateY(0%) scale(0);
    opacity: 0;
  }
}

@keyframes saveMsgFade {
  0% {
    -webkit-transform: translateY(-200%) scale(1);
            transform: translateY(-200%) scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0%) scale(1.05);
            transform: translateY(0%) scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0%) scale(0);
            transform: translateY(0%) scale(0);
    opacity: 0;
  }
}

.formButton {
  background-color: #342c36;
  padding: 1rem;
  color: white;
  border: none;
  outline: none;
}

.formButton:hover {
  cursor: pointer;
}

#loadPresetButton {
  padding: 0.35rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #342c36;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
}

#loadPresetButton:hover {
  cursor: pointer;
}

#audio {
  width: 25%;
  margin: 0.45rem;
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

label {
  margin-bottom: 0.5rem;
}

button {
  padding: 0.5rem;
  border: none;
  color: white;
  font-size: 0.75rem;
  background-color: #1b1b1b;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

#file-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input[type="file"] {
  padding: 0.2rem;
}

::-webkit-file-upload-button {
  background-color: #342c36;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.album-cover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.grow {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.layout {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout-margin {
  margin-bottom: 5rem;
}

.c-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-group label {
  margin: 0.5rem;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide-layout {
  display: none !important;
}

#songinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 5rem;
  color: white;
}

#songtitle {
  font-size: 7rem;
  background: none;
  border: none;
  color: white;
}

#songartist {
  font-size: 4rem;
}

#songinfo-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 5rem;
  color: #ffffffb6;
}

#songtitle-2 {
  font-size: 3rem;
}

#songartist-2 {
  font-size: 3rem;
}

#song-dot {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.vinyl-layout-2 {
  position: absolute;
  left: 52%;
  z-index: -2;
}

.vinyl-layout-3 {
  position: absolute;
  left: 52%;
  z-index: -2;
}

.vinyl-center {
  position: absolute;
  left: 61.095%;
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  border-radius: 100%;
}

#layout-2 {
  position: absolute;
  right: 11%;
}

#layout-2 #album-cover-2 {
  margin-bottom: 4vh;
}

#layout-2 #songinfo-2 {
  margin-bottom: 2vh;
  margin-left: 4vw;
}

#layout-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: calc((100vh / 16) * 9);
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-bottom: 2.5rem;
  z-index: 2;
}

#layout-3 #album-cover-3 {
  margin-bottom: 2vh;
}

#layout-3 #album-cover-3 img {
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.212);
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.212);
}

#layout-3 #songinfo-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  color: white;
}

#layout-3 #songtitle-3 {
  font-size: 3rem;
}

#layout-3 #songartist-3 {
  font-size: 3rem;
}

.vinyl-spin {
  -webkit-animation: vinylspin 6s linear infinite;
          animation: vinylspin 6s linear infinite;
}

@-webkit-keyframes vinylspin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes vinylspin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#bardiv-container {
  position: absolute;
  bottom: 5%;
}

#barDiv {
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 200px;
  border-bottom: 2px solid #ffffff;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.band {
  background-color: #181818;
  margin: 0.5px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-radius: 0.05rem;
}

.band2 {
  margin: 0px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.point {
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 100%;
}

#toolBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.048);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.048);
  background-color: #16171a;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1rem;
  color: #e4e4e4;
}

#toolbar-x {
  color: #e4e4e4;
}

#toolbar-x:hover {
  cursor: pointer;
}

.toolbar {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 3;
}

.toolbarShow {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

#kickRange {
  width: 12rem;
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}

#toolbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.2rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.form-group-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group-left label {
  margin-left: 0.4rem;
}

.form-group-left input[type="file"] {
  padding: 0;
  margin: 0;
}

.radioGroup {
  border: 1px solid rgba(255, 255, 255, 0.452);
  border-radius: 0.25rem;
}

.row-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.row-group button,
.row-group input {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #16171a;
  padding: 1rem;
  color: #e4e4e4;
  -webkit-box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.048);
          box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.048);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.hide-controls {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

select {
  background-color: #222222;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

#presetSelect {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#no-preset {
  margin-top: 0.5rem;
}

.form-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.particle {
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.particle-grow {
  -webkit-transform: scale(15);
          transform: scale(15);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hidecursor {
  cursor: none;
}

#adv-options {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(22, 23, 26, 0.822);
  border: 3px solid #e4e4e4;
  color: #e4e4e4;
  z-index: 5;
}

#adv-x {
  position: relative;
  top: 0rem;
  right: 0rem;
  color: #e4e4e4;
}

#adv-x:hover {
  cursor: pointer;
}

#help-x {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #e4e4e4;
  z-index: 1000;
}

#help-x:hover {
  cursor: pointer;
}

.adv-all-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.adv-group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  padding: 1rem;
}

.adv-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  text-align: right;
}

.adv-group * {
  margin: 0.5rem;
}

.adv-group-ml {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  text-align: right;
  margin-left: 12rem;
}

.adv-group-ml * {
  margin: 0.5rem;
}

.adv-group-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0rem;
  text-align: right;
}

.adv-group-tabs * {
  margin: 0.5rem;
}

.adv-label-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adv-label-col-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.tab {
  padding: 1rem;
}

.bg-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: rgba(22, 23, 26, 0.822);
}

#bg-tab-1 .adv-group {
  margin-left: 5.6rem;
}

.text-right {
  text-align: right;
}

/*
.link-tab {
  width: 50%;
  padding: 0.25rem;
  //background-color: rgb(20, 20, 20);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(238, 238, 238, 0.644);
  color: rgba(255, 255, 255, 0.616);
}
.link-tab:hover {
  cursor: pointer;
}
.tab-active {
  background-color: $btnColor;
  color: white;
}
.linkButton {
  border-radius: 0.25rem;
  background-color: $btnColor;
  color: white;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.linkButton:hover {
  cursor: pointer;
}*/
#morph-svg {
  position: absolute;
  width: 110%;
  bottom: 0;
  left: -2%;
  z-index: 2000;
  -webkit-animation: slideDown 7s ease forwards;
          animation: slideDown 7s ease forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#morph-svg-2 {
  position: absolute;
  width: 105%;
  bottom: -3%;
  left: -2%;
  z-index: 1999;
  -webkit-animation: slideDown 7.05s ease forwards;
          animation: slideDown 7.05s ease forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#morph-svg-top {
  position: absolute;
  width: 110%;
  top: 0;
  left: -2%;
  z-index: 2000;
  -webkit-animation: slideUp 7s ease forwards;
          animation: slideUp 7s ease forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#morph-svg-2-top {
  position: absolute;
  width: 105%;
  top: -3%;
  left: 0%;
  z-index: 1999;
  -webkit-animation: slideUp 7.05s ease forwards;
          animation: slideUp 7.05s ease forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

video {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -50;
}

#bodyBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

#bodyBackgroundImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.border-bottom {
  border-bottom: 2px solid white;
}

.font1 {
  font-family: redwing;
}

.afont1 {
  font-family: redwing-light;
}

.font2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 200;
}

.afont2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
}

.font3 {
  font-family: "New Rocker", cursive;
}

.afont3 {
  font-family: "New Rocker", cursive;
}

.font4 {
  font-family: "Indie Flower", cursive;
}

.afont4 {
  font-family: "Indie Flower", cursive;
}

.font5 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
}

.afont5 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
}

.font6 {
  font-family: "Bungee Inline", cursive;
  line-height: 7rem;
}

.afont6 {
  font-family: "Bungee Inline", cursive;
  line-height: 4rem;
}

.font7 {
  font-family: "Bungee Shade", cursive;
  line-height: 7rem;
}

.afont7 {
  font-family: "Bungee Shade", cursive;
  line-height: 4rem;
}

.font8 {
  font-family: "Bungee Hairline", cursive;
  line-height: 7rem;
}

.afont8 {
  font-family: "Bungee Hairline", cursive;
  line-height: 4rem;
}

#helpBtn:hover {
  cursor: pointer;
  color: #ffff5d;
}

#helpSection {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #0c0c0c;
  color: #f3f3f3;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 4;
}

#helpSection h2 {
  margin-top: 0rem;
  color: #ffff42;
  font-weight: 300;
  font-size: 3rem;
  border-bottom: 1px solid white;
  padding: 0.4rem;
  opacity: 0;
}

#helpSection h3 {
  margin-top: 1rem;
  color: #f3f3f3;
  font-weight: 300;
  opacity: 0;
}

#helpSection p {
  margin-top: 0.4rem;
  opacity: 0;
  line-height: 1.2rem;
}

.helpTextAnim1 {
  -webkit-animation: textIn 1s ease forwards;
          animation: textIn 1s ease forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.helpTextAnim2 {
  -webkit-animation: textIn 1s ease forwards;
          animation: textIn 1s ease forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes textIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#helpImg {
  margin-top: 5rem;
  -webkit-transform: translateX(250%) rotate(0deg);
          transform: translateX(250%) rotate(0deg);
  opacity: 0;
}

.helpImgAnimate {
  -webkit-animation: slideInLeft 1s ease forwards;
          animation: slideInLeft 1s ease forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.helpDiv {
  width: 42%;
  margin: 1.5rem;
  padding: 1.5rem;
}

.shortcut {
  color: #ffff42;
}

.helpSectionShow {
  -webkit-transform: translateY(-1%) !important;
          transform: translateY(-1%) !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.notification {
  color: white;
  font-size: 0.9rem;
}

.notify-warning {
  color: #ffff67;
}

/*
.animateIn {
  animation: transitionOut 1s forwards;
}
.animateOut {
  animation: transitionOut 1s forwards;
}

@keyframes transitionIn {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes transitionOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}*/
.test {
  color: #1cbfff;
  color: #222222;
}

#distort {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#hovertop {
  height: 11vh;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#hoverbottom {
  height: 11vh;
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
/*# sourceMappingURL=style.css.map */