$btnColor: rgb(52, 44, 54); //rgb(34, 34, 34);
$selectColor: rgb(34, 34, 34);
$toolbarColor: rgb(22, 23, 26);
$toolbarColorOpacity: rgba(22, 23, 26, 0.822);
$toolbarTextColor: rgb(228, 228, 228);

@font-face {
  font-family: redwing;
  src: url(../fonts/Redwing-Medium.otf);
}
@font-face {
  font-family: redwing-light;
  src: url(../fonts/Redwing-Light.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#formWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#preset-div {
  border: 1px solid rgba(87, 87, 87, 0.171);
  //width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
#presetNameDiv {
  display: flex;
  flex-direction: column;
  .logInBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  input {
    background: $btnColor;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    padding: 0.2rem;
    border: none;
    border-radius: 0.2rem;
  }
}
.logInBtn {
  background-color: $btnColor;
  padding: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  border-radius: 0.25rem;
  color: white;
  text-decoration: none;
  margin-top: 0.5rem;
}
/*#logOutBtn {
  background-color: $btnColor;
  padding: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  border-radius: 0.25rem;
  color: white;
  text-decoration: none;
  margin-top: 0.5rem;
}*/
.textfield {
  background: $btnColor;
  color: rgb(255, 255, 255);
  font-size: 1.025rem;
  padding: 0.2rem;
  border: none;
  border-radius: 0.1rem;
}
#saveDiv {
  //position: relative;
  bottom: 1rem;
  right: 1rem;
}
#saveMessage {
  padding: 1.25rem;
  background-color: $btnColor;
  border-radius: 0.25rem;
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5000;

  animation: saveMsgFade 3s ease forwards;
}
#updateMessage {
  padding: 1.25rem;
  background-color: $btnColor;
  border-radius: 0.25rem;
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5000;

  animation: saveMsgFade 3s ease forwards;
}
#deleteMessage {
  padding: 1.25rem;
  background-color: $btnColor;
  border-radius: 0.25rem;
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5000;

  animation: saveMsgFade 3s linear forwards;
}
@keyframes saveMsgFade {
  0% {
    transform: translateY(-200%) scale(1);
    opacity: 0;
  }
  50% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  60% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  70% {
    transform: translateY(0%) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateY(0%) scale(0);
    opacity: 0;
  }
}
.formButton {
  background-color: $btnColor;
  padding: 1rem;
  color: white;
  border: none;
  outline: none;
}
.formButton:hover {
  cursor: pointer;
}
#loadPresetButton {
  padding: 0.35rem;
  padding-left: 1rem;
  padding-right: 1rem;
  //margin-bottom: 0.25rem;
  background: rgb(52, 44, 54); //linear-gradient("#111111", "#ffffff");
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
}
#loadPresetButton:hover {
  cursor: pointer;
}

#audio {
  width: 25%;
  margin: 0.45rem;
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  //border: 1px solid black;
}
label {
  margin-bottom: 0.5rem;
}
button {
  padding: 0.5rem;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  background-color: rgb(27, 27, 27);
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
#file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="file"] {
  padding: 0.2rem;
  //border: 1px solid yellow;
  //background-color: rgb(27, 27, 27);
}
::-webkit-file-upload-button {
  background-color: $btnColor;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.album-cover {
  //margin-top: 4rem;
  transform: scale(1);
  transition: all 1s ease;

  position: relative;
}
.grow {
  transform: scale(1.05);
  transition: all 1s ease;
}

//Layouts

//General layout class
.layout {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.layout-margin {
  margin-bottom: 5rem;
}
.c-group {
  display: flex;
  flex-direction: column;
  label {
    margin: 0.5rem;
  }
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide-layout {
  display: none !important;
}

//title and artist
#songinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 5rem;
  color: white;
}
#songtitle {
  font-size: 7rem;
  //font-family: redwing;
  background: none;
  border: none;
  color: white;
}
#songartist {
  font-size: 4rem;
  //font-family: redwing-light;
}

#songinfo-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 5rem;
  color: #ffffffb6;
}
#songtitle-2 {
  font-size: 3rem;
  //font-family: redwing;
}
#songartist-2 {
  font-size: 3rem;
  //font-family: redwing-light;
}
#song-dot {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

//Individual layouts

//Layout 2
.vinyl-layout-2 {
  position: absolute;
  left: 52%;
  z-index: -2;
}
.vinyl-layout-3 {
  position: absolute;
  left: 52%;
  z-index: -2;
}
.vinyl-center {
  position: absolute;
  left: 61.095%;
  z-index: -1;
  transform-origin: center;
  border-radius: 100%;
}
#layout-2 {
  position: absolute;
  right: 11%;
  //top: 10%;
  //border: 1px solid yellow;
  #album-cover-2 {
    margin-bottom: 4vh;
  }
  #songinfo-2 {
    margin-bottom: 2vh;
    margin-left: 4vw;
  }
}
#layout-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: calc((100vh / 16) * 9);
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-bottom: 2.5rem;
  //background-color: yellow;
  z-index: 2;
  #album-cover-3 {
    margin-bottom: 2vh;
    img {
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.212);
    }
  }
  #songinfo-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    //padding-right: 2rem;
    //padding-left: 5rem;
    color: white;
    //margin-bottom: 2vh;
    //margin-left: 4vw;
  }
  #songtitle-3 {
    font-size: 3rem;
    //font-family: redwing;
  }
  #songartist-3 {
    font-size: 3rem;
    //font-family: redwing-light;
  }
}

.vinyl-spin {
  animation: vinylspin 6s linear infinite;
}
@keyframes vinylspin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#bardiv-container {
  position: absolute;
  bottom: 5%;
}
#barDiv {
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;

  height: 200px;
  border-bottom: 2px solid #ffffff;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);

  //background-color: black;
}

.band {
  background-color: rgb(24, 24, 24);
  //height: 300px;
  //width: 100px;
  margin: 0.5px;
  transition: all 0.1s ease;
  border-radius: 0.05rem;
}
.band2 {
  //background-color: rgb(31, 31, 31);
  margin: 0px;
  transition: all 0.1s ease;
  //border-radius: 60%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.point {
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 100%;
}

#toolBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.048);
  background-color: $toolbarColor;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1rem;
  color: $toolbarTextColor;
  //border-bottom: 1px solid yellow;
}
#toolbar-x {
  color: $toolbarTextColor;
}
#toolbar-x:hover {
  cursor: pointer;
}
.toolbar {
  transition: all 1s ease;
  z-index: 3;
}
.toolbarShow {
  transition: all 1s ease;
  transform: translateY(-120%);
  //display: none !important;
}
#kickRange {
  width: 12rem;
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}
#range-rate {
  //direction: rtl;
}
#toolbar-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 85%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 0.2rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  //border: 1px solid black;
  //width: 30%;
}
.form-group-left {
  justify-content: flex-start;
  align-items: center;
  //border: 1px solid black;
  label {
    margin-left: 0.4rem;
    //border: 1px solid red;
  }
  input[type="file"] {
    //border: 1px solid blue;
    padding: 0;
    margin: 0;
  }
}
.radioGroup {
  border: 1px solid rgba(255, 255, 255, 0.452);
  border-radius: 0.25rem;
}
.row-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  button,
  input {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $toolbarColor;
  padding: 1rem;
  color: $toolbarTextColor;
  box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.048);
  transition: all 1s ease;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
}

.hide-controls {
  transform: translateY(120%);
  transition: all 1s ease;
}

select {
  background-color: $selectColor;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
#presetSelect {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#no-preset {
  margin-top: 0.5rem;
}
.form-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//Particle effects

.particle {
  position: absolute;
  //background-color: rgb(255, 231, 97);
  transform: scale(1);
  transition: all 0.5s ease;
}
.particle-grow {
  transform: scale(15);
  transition: all 0.5s ease;
}

//hide cursor
.hidecursor {
  cursor: none;
}

//advanced options
#adv-options {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0%;
  left: 0%;
  //transform: translateX(-50%);
  background-color: $toolbarColorOpacity;
  border: 3px solid $toolbarTextColor;
  color: $toolbarTextColor;
  z-index: 5;
}
#adv-x {
  position: relative;
  top: 0rem;
  right: 0rem;
  color: $toolbarTextColor;
}
#adv-x:hover {
  cursor: pointer;
}
#help-x {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: $toolbarTextColor;
  z-index: 1000;
}
#help-x:hover {
  cursor: pointer;
}
.adv-all-groups {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}
.adv-group-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  //border: 1px solid rgba(87, 87, 87, 0.171);
  padding: 1rem;
}
.adv-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem;
  text-align: right;
  //padding-left: 2rem;
  //padding-right: 2rem;
  * {
    margin: 0.5rem;
  }
}
.adv-group-ml {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem;
  text-align: right;
  //padding-left: 2rem;
  //padding-right: 2rem;
  * {
    margin: 0.5rem;
  }
  margin-left: 12rem;
}
.adv-group-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0rem;
  text-align: right;
  //padding-left: 2rem;
  //padding-right: 2rem;
  * {
    margin: 0.5rem;
  }
}
.adv-label-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adv-label-col-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  //padding: 1rem;
}
.tab {
  //background-color: black;
  //width: 25%;
  padding: 1rem;
}
.bg-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: rgba(22, 23, 26, 0.822);
  //border: 1px solid rgba(211, 211, 211, 0.479);
}
#bg-tab-1 {
  //border: 2px solid red;
  .adv-group {
    //padding-left: 10rem;
    margin-left: 5.6rem;
  }
}
#bg-tab-2 {
}
.text-right {
  text-align: right;
}
/*
.link-tab {
  width: 50%;
  padding: 0.25rem;
  //background-color: rgb(20, 20, 20);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(238, 238, 238, 0.644);
  color: rgba(255, 255, 255, 0.616);
}
.link-tab:hover {
  cursor: pointer;
}
.tab-active {
  background-color: $btnColor;
  color: white;
}
.linkButton {
  border-radius: 0.25rem;
  background-color: $btnColor;
  color: white;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.linkButton:hover {
  cursor: pointer;
}*/

//SVG MORPH
#morph-svg {
  position: absolute;
  width: 110%;
  bottom: 0;
  left: -2%;
  z-index: 2000;
  animation: slideDown 7s ease forwards;
  animation-delay: 2s;
}
#morph-svg-2 {
  position: absolute;
  width: 105%;
  bottom: -3%;
  left: -2%;
  z-index: 1999;
  animation: slideDown 7.05s ease forwards;
  animation-delay: 2s;
}
#morph-svg-top {
  position: absolute;
  width: 110%;
  top: 0;
  left: -2%;
  z-index: 2000;
  animation: slideUp 7s ease forwards;
  animation-delay: 2s;
}
#morph-svg-2-top {
  position: absolute;
  width: 105%;
  top: -3%;
  left: 0%;
  z-index: 1999;
  animation: slideUp 7.05s ease forwards;
  animation-delay: 2s;
}

@keyframes slideDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-200%);
  }
}

//VIDEO TAG
video {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -50;
}
#bodyBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
#bodyBackgroundImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
.border-bottom {
  border-bottom: 2px solid white;
}
//FONTS

.font1 {
  font-family: redwing;
}
.afont1 {
  font-family: redwing-light;
}

.font2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 200;
}
.afont2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
}

.font3 {
  font-family: "New Rocker", cursive;
}
.afont3 {
  font-family: "New Rocker", cursive;
}
.font4 {
  font-family: "Indie Flower", cursive;
}
.afont4 {
  font-family: "Indie Flower", cursive;
}
.font5 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
}
.afont5 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
}
.font6 {
  font-family: "Bungee Inline", cursive;
  line-height: 7rem;
}
.afont6 {
  font-family: "Bungee Inline", cursive;
  line-height: 4rem;
}
.font7 {
  font-family: "Bungee Shade", cursive;
  line-height: 7rem;
}
.afont7 {
  font-family: "Bungee Shade", cursive;
  line-height: 4rem;
}
.font8 {
  font-family: "Bungee Hairline", cursive;
  line-height: 7rem;
}
.afont8 {
  font-family: "Bungee Hairline", cursive;
  line-height: 4rem;
}

#helpBtn {
}
#helpBtn:hover {
  cursor: pointer;
  color: rgb(255, 255, 93);
}
#helpSection {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(12, 12, 12);
  color: rgb(243, 243, 243);
  transform: translateY(200%);
  transition: all 1s ease;
  padding: 3rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 4;

  h2 {
    margin-top: 2rem;
    color: rgb(255, 255, 66);
    font-weight: 300;
    font-size: 3rem;
    border-bottom: 1px solid white;
    padding: 0.4rem;
    opacity: 0;
    animation: textIn 1s ease forwards;
    animation-delay: 2s;
  }
  h3 {
    margin-top: 1rem;
    color: rgb(243, 243, 243);
    font-weight: 300;
    opacity: 0;
    animation: textIn 1s ease forwards;
    animation-delay: 2.2s;
  }
  p {
    margin-top: 0.4rem;
    opacity: 0;
    animation: textIn 1s ease forwards;
    animation-delay: 2.2s;
    line-height: 1.2rem;
  }
}
@keyframes textIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#helpImg {
  transform: translateX(250%) rotate(0deg);
  opacity: 0;
  animation: slideInLeft 1s ease forwards;
  animation-delay: 1.45s;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(250%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.helpDiv {
  width: 42%;
  margin: 1.5rem;
  padding: 1.5rem;
}
.shortcut {
  color: rgb(255, 255, 66);
}
.helpSectionShow {
  transform: translateY(0%) !important;
  transition: all 1s ease;
}
.notification {
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
}
.notify-warning {
  color: rgb(255, 255, 103);
}
/*
.animateIn {
  animation: transitionOut 1s forwards;
}
.animateOut {
  animation: transitionOut 1s forwards;
}

@keyframes transitionIn {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes transitionOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}*/
.test {
  color: rgb(28, 191, 255);
  color: rgb(34, 34, 34);
}

#distort {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#hovertop {
  height: 11vh;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#hoverbottom {
  height: 11vh;
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
